{% extends "AppCleta/padre.html" %}

{% load static %}

    {% block contenidoQueCambia %}

    <h1 class="mb-1">Sobre Nosotros</h1>

    <p>

    Somos Fer y Meli, tenemos la edad de 42 y 34años respectivamente y somos cordobeses; 
    estamos aprendiendo y deseando cumplir nuestro sueño de ser programadores; 
    por lo que te presentamos una página útil para que conozcas nuestra provincia por medio de la bicicleta, 
    otra de nuestra pasión! te informamos por dónde ir, tiempo estimado de demora, cantidad de Kilómetros, 
    y por supuesto COMO SE ENCUENTRA LA RUTA y pequeños "tips" para recorrer nuestra hermosa provincia!! 
    Podes participar y compartir caminos cordobeses únicos en nuestro país, 
    y además contactarnos para programar e informarte de nuestras salidas a la ruta!! 
    
                    <h3 class="mb-2">SUMATE!!</h3>


    </p>

    {% endblock  %}